body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
    margin-left:10px;
    margin-right:10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*
    1 Common

    2 Search boxes
        2.1 Box header
        2.2 Box content
        2.3 Box wrapper

    3 Search fields
        3.1 Search box
        3.2 Wrapper
        3.3 Price slider
        3.4 Price list
        3.5 Price filter button
        3.6 Price tag
        3.7 Categories

    4 Product item
        4.1 wrapper
        4.2 img
        4.3 menu
        4.4 content

*/
/*======================= COMMON =======================*/

.top-margin {
    margin-top: 10px;
}

.no-padding {
    padding: 0;
}

.page-wrapper {
    margin-top: 150px;
}

.text-bold {
    margin-left: 3px;
    margin-right: 3px;
    font-weight: 600;
}

body {
    font-family: 'Oxygen',sans-serif;
}

.text-inline {
    display: inline-block;
}


/*==================== SEARCH BOXES ====================*/


/*2.1 ============================================*/

.box-header {
    background: #47bac1;
    padding: 0;
}

    .box-header h3 {
        margin: 0;
        border-radius: 0;
        padding: 0 15px;
        line-height: 45px;
        font-size: 15px;
        font-weight: 700;
        color: white;
        text-transform: uppercase;
    }

/*2.2 ============================================*/

.box-content {
    padding: 0;
    padding-top: 5px;
    border-right: solid 5px #f0f0f0;
    border-left: solid 5px #f0f0f0;
    border-bottom: solid 5px #f0f0f0;
    padding-top: 20px;
    padding-bottom: 20px;
}

    .box-content > .row ~ .row {
        margin-top: 10px;
    }

.label-text {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

/*2.3 ============================================*/

.box-wrapper {
    margin-bottom: 30px;
    padding: 0;
    max-width: 260px;
}

/*=================== SEARCH FIELDS ===================*/

/*3.1 ============================================*/

.search-box {
    width: 100%;
    color: #9c9c9c;
    transition: all .5s;
    border: none;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: .5px solid rgba(213, 213, 213, 0.36);
    box-shadow: .5px .5px 4px #858585 inset;
}

    .search-box:focus {
        border: none;
        box-shadow: 1px 1px 5px rgba(112,176,224,1) inset, 1px 1px 5px rgba(112,176,224,1);
    }

/*3.2 ============================================*/
.search-wrapper {
    max-width:220px;
}

/*3.3 ============================================*/
#slider {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    height: 4px;
    border-radius: 0;
    border: none;
}

    #slider .noUi-connect {
        background-color: black;
    }

    #slider .noUi-handle {
        background-color: white;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        padding: 0;
        margin: 0;
        left: 0;
        border: 3px solid black;
    }

        #slider .noUi-handle:after, #slider .noUi-handle:before {
            content: none;
        }

    #slider .noUi-base {
        background: #f0f0f0;
        border: none;
    }

/*3.4 ============================================*/

.price-list li {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

    .price-list li:nth-child(1) {
        margin-right: 10px;
    }

/*3.5 ============================================*/

.filter-holder {
    display: inline-block;
    padding-left: 5px;
}

#filter {
    display: inline-block;
    min-width: 60px;
    padding: 5px;
    background: black;
    border: none;
    color: white;
}

/*3.6 ============================================*/

.price-tag {
    margin-right: 10px;
}

.price-text {
    max-height: 25px;
    display: inline-block;
    padding-top: 5px;
}

/*3.7 ============================================*/

.category-list {
    list-style: none;
    line-height: 40px;
    padding-left: 30px;
    color: black;
}

    .category-list li {
        display: block;
        transition: all .5s;
    }

        .category-list li:hover {
            cursor: pointer;
            color: #47bac1;
            animation-name: category-move;
            animation-duration: 3s inherit;
        }

@keyframes category-move {
    from {
        padding-left: 0;
    }

    to {
        padding-left: 200px;
    }
}

/*================== PRODUCT ITEM ==================*/


/*4.1 ============================================*/

.item-wrapper {
    max-width: 350px;
    transition: all .5s;
    margin-bottom: 40px;
    min-height: 300px;
}

    .item-wrapper:hover {
        opacity: 1;
        transform: scale(1.1);
    }

        .item-wrapper:hover .item-img-menu {
            background-color: rgba(73, 186, 193, 0.9);
        }

@media(max-width:992px){
    .item-wrapper {
        max-width:150px;
        min-height:150px;
    }
}

/*4.2 ============================================*/

.item-img {
    padding: 0;
    max-width: 350px;
    position: relative;
}

/*4.3 ============================================*/

.item-img-menu {
    transition: all .5s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

    .item-img-menu .fa {
        transition: all .5s;
        color: white;
    }

    .item-img-menu a {
        width: 42px;
        height: 42px;
    }

.item-wrapper ul {
    text-align: center;
    width: 170px;
    height: 42px;
    color: black;
    transition: all .5s;
    position: absolute;
    opacity: 0;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .item-wrapper ul a {
        border-radius: 0;
        transition: all .5s;
        text-align: center;
        padding: 0;
        background: transparent;
        border: 3px solid rgba(255, 255, 255, 0.6);
    }

    .item-wrapper ul i {
        transition: all .5s;
        padding-top: 8px;
        font-size: 20px;
    }

    .item-wrapper ul li:hover i {
        color: rgba(73, 186, 193, 0.9);
    }

    .item-wrapper ul li:hover a {
        background: white;
        border-color: white;
    }

.item-wrapper:hover ul {
    opacity: 1;
}

@media(min-width: 768px) and (max-width: 992px) {
    .item-wrapper ul {
        width: 160px;
    }

    .item-img-menu a {
        width: 28px;
        height: 28px;
    }

    .item-wrapper ul i {
        font-size:15px;
        padding-top: 3px;
    }
}

/*4.4 ============================================*/

.item-content {
    padding: 0;
    text-align: left;
    font-weight: 700;
    font-size: 20px;
}

@media(max-width:992px) {
    .item-content {
        font-size:15px
    }
}
